modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Backend"

[[workflows.workflow]]
name = "Backend"
author = 36904878

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python code_visualizer/api.py"
